
/* center Background-Image on Index > ProjectCards*/
.card.card-cover.h-100.overflow-hidden.text-bg-dark.rounded-4.shadow-lg{
    background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;

}

#custom-cards{
    border-radius: 10px;
    
}

.img-left{
    border: 5px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 2px;
}

/*
#theme_button{

}
*/